{% extends 'event_track_base.html' %}

{% block content %}

<h2 style="margin-left: -100px;">My Events</h2>
{% include 'event_navbar.html' %}
<nav style="margin-bottom: 10px; margin-left: -100px;">
    <div style="margin: 0;">
        <a style="margin-right: .5rem; margin-left: 0; padding-left: 0;" href="{% url 'event_home' %}">Home Page</a>
    </div>
</nav>
<div>
    {% if events %}
    <table style="width: 1200px; margin-left: -100px;">
        <tr>
            <th style="width: 220px;">Name</th>
            <th>Desciption</th>
            <th>Location</th>
            <th style="width: 100px;">Date</th>
            <th style="width: 120px;">Category</th>
            <th>Organizer</th>
            <th></th>
            <th></th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
            <td>{{event.category}}</td>
            <td>{{event.organizer}}</td>
            <td><a href="{% url 'update_event' event.id %}">Update</a></td>
            <td><a href="{% url 'delete_event' event.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Currently there are no events organized by you.</h3>
    {% endif %}
</div>
{% endblock %}