{% extends 'event_track_base.html' %}

{% block content %}

<h2>Home Page</h2>
<h4>{{ user.username|add:" - "}}{{user.id}}</h4>
<nav style="margin-bottom: 10px;">
    <div style="margin: 0;">
        <a style="margin-right: .5rem; margin-left: 0; padding-left: 0;" href="add-event/">Add an event</a>
        <a style="margin: .5rem;" href="my-events/">My Events</a>
        <a style="margin: .5rem;" href="delete/">Delete event Page</a>
    </div>
</nav>
<nav>
    <div style="margin:0">
        {% if not user %}
        <a href="{% url 'authorize_user' %}">Login</a>
        <a style="margin: .5rem;" href="{% url 'register_user' %}">Register</a>
        {% else %}
        <a href="{% url 'unauthorize_user' %}">Logout</a>
        <a style="margin-left: 1rem;" href="{% url 'user_profile' %}">Profile Page</a>
        {% endif %}
    </div>
</nav>
<div>
    {% if events %}
    <table style="width: 900px;">
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 350px;">Location</th>
            <th>Date</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
            <td><a href="{% url 'event_details' event.id %}">Details</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Currently no events are scheduled.</h3>
    {% endif %}
</div>
{% endblock %}