{% extends 'event_track_base.html' %}

{% block content %}

<h3>Add an Event</h3>
<nav style="margin-bottom: 20px; margin-left: -100px;">
    <div style="margin: 0;">
        <a style="margin-right: .5rem; margin-left: 100px; padding-left: 0; font-size: 15px;" href="{% url 'event_home' %}">Home Page</a>
    </div>
</nav>
<form method="post">
    {% csrf_token %}

    {{ event_form }}

    <button style="font-size: 15px; margin-top: 10px;" type="submit">Submit</button>
</form>


{% endblock %}