{% extends 'event_track_base.html' %}
{% block content %}

<h2 style="margin-left: -100px;">Event Detail</h2>
{% include 'event_navbar.html' %}
<div style="margin-left: -100px;">
    <a style="margin-top: 2rem;" href="{% url 'event_home' %}">Home page</a>
</div>
<div>
    {% if event %}
    <table style="width: 1000px; margin-left: -100px;">
        <tr>
            <th>Name</th>
            <th>Desciption</th>
            <th>Location</th>
            <th>Date</th>
            <th>Category</th>
            <th>Organizer</th>
        </tr>
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
            <td>{{event.category}}</td>
            <td>{{event.organizer}}</td>
        </tr>
    </table>
    {% endif %}
</div>


{% endblock %}